---

---
<!DOCTYPE html>
<html>

{% include head.html %}

<body>
{% include header.html %}

{% include herobanner.html %}
<div class="container">
<div class="new-arrivals">
  <div>
    <h1> New recipies </h1>


  <div class="flextest">
    <div class="flex eur breakfast vegan">
      <img src="../assets/images/thumbs/recipies/protein-boosted-oatmeal.png" alt="prtein oatmeal">
      <h2><a href="../pages/recipies/oatmeal.html"> Protein Boosted Oatmeal</a></h2>
    </div>
    <div class="flex main-meal am vegitarian">
      <img src="../assets/images/thumbs/recipies/smashed-tomato-pasta.png" alt="tomato pasta">
      <h2><a href="../pages/recipies/summer-tomato.html"> Summer Pasta with Smashed Tomatoes</a></h2>
    </div>
    <div class="flex vegan main-meal asia">
      <img src="../assets/images/thumbs/recipies/banana-blossom-salad.png" alt="banana blossom salad">
      <h2><a href="../pages/recipies/vietnamese-salad.html"> Vietnamese Banana Blossom Salad</a></h2>
    </div>
    <div class="flex asia vegan main-meal">
      <img src="../assets/images/thumbs/recipies/tom-kah.png" alt="thom kah salad">
      <h2><a href="../pages/recipies/tom-kah.html"> Tom Kha Tofu</a></h2>
    </div>
  </div>
  </div>
</div>
<!-- text dump -->
<div class="container">
  <div class="text-dump">
    <h1>The best cookbooks</h1>
    <p>Cuisine cookbooks had modest beginnings when Fred Carlson opened a small local print shop in 1933. His son-in-law, Harold Morris, took over the business in 1956 and the family tradition continued when Harold's son, Scott, became president in 1976. Today, Scott's son, Ryan, works with his father in the family business.  </p>
  </div>
</div>
<!-- text end -->


<div class="weekmenu container">
  <div class="banner ">
    <div>
      <a href="pages/recipe-overview.html"><h2>week menu</h2></a>
    </div>
    <img src="assets/images/banner.png" alt="banner food" width="970">

  </div>
</div>

<!-- text dump -->
<div class="container">
  <div class="text-dump">
    <h1>your cookbook</h1>
    <p>Cuisine cookbooks provides ALL the ingredients you need to make your cookbook beautiful and unique. Your recipes deserve the best – that's why we offer a variety of recipe formats and options from which you can choose. </p>
  </div>
</div>
<!-- text end -->
</div>





{% include footer.html %}
<script src="js/skippr.js"></script>

</body>
</html>
