---

---
<!DOCTYPE html>
<html>

{% include head.html %}

<body>
{% include header.html %}

{% include herobanner.html %}
<div class="container">
<div class="new-arrivals">
  <div>
    <h1> New arrivals </h1>


  <div class="carousel">
    <div class="books">
      <a href="pages/green-kitchen.html"><img src="assets/images/greenkit-change.jpg" alt="green kitchen">
      <h2>The green kitchen travels</h2></a>
    </div>

    <div class="books">
      <a href="pages/green-kitchen.html"><img src="assets/images/greenkit-change.jpg" alt="green kitchen">
      <h2>The green kitchen travels</h2></a>
    </div>
  </div>


  </div>
</div>
<!-- text dump -->
<div class="container">
  <div class="text-dump">
    <h1>The best cookbooks</h1>
    <p>Cuisine cookbooks had modest beginnings when Fred Carlson opened a small local print shop in 1933. His son-in-law, Harold Morris, took over the business in 1956 and the family tradition continued when Harold's son, Scott, became president in 1976. Today, Scott's son, Ryan, works with his father in the family business.  </p>
  </div>
</div>
<!-- text end -->


<div class="weekmenu container">
  <div class="banner ">
    <div>
      <a href="pages/recipe-overview.html"><h2>week menu</h2></a>
    </div>
    <img src="assets/images/banner.png" alt="banner food" width="970">

  </div>
</div>

<!-- text dump -->
<div class="container">
  <div class="text-dump">
    <h1>your cookbook</h1>
    <p>Cuisine cookbooks provides ALL the ingredients you need to make your cookbook beautiful and unique. Your recipes deserve the best – that's why we offer a variety of recipe formats and options from which you can choose. </p>
  </div>
</div>
<!-- text end -->
</div>





{% include footer.html %}
<script src="js/skippr.js"></script>

</body>
</html>
