---

---
<!DOCTYPE html>
<html>

{% include head.html %}

<body>
{% include header.html %}

<!-- hero-banner -->
<div class="hero container">
  <img src="assets/images/kitchen book.jpg" alt="Green kitchen book">
  <div class="hero-text">
    <h1>Green Kitchen at home</h1>
    <h2>New in stock</h2>
  </div>

<!-- cta -->
  <div class="cta-button">

    <div><h3>Pre-order Now!</h3></div>
    <div><img src="assets/icons/cta-arrow.png" alt=""></div>

  </div>
</div>


<div class="banner container">
  <div>
    <h2>week menu</h2>
  </div>
  <img src="assets/images/banner.png" alt="banner food" width="970">

</div>

<div class="flex-container container">
<div class="flextest">
  <div class="flex"></div>
  <div class="flex"></div>
  <div class="flex"></div>
  <div class="flex"></div>
</div>


</div>









{% include footer.html %}
</body>
</html>
