
/* ======= footer========= */


footer
  //background-color: $primary-color

  li
    list-style-type: none
    display: inline-block
    padding-right: 30px

  .logo-footer
    height: 140px
    margin-top: 1px
    background-color: #416A76

  .social
    height: 130px
    margin-top: 1px
    background-color: #CEDEE1
    .social-menu
      margin: 40px 5px 0 0
      float: right
    ul
      padding: 0
      margin: 0
    li
      list-style-type: none
      padding-right: 30px


    .news-signup
      width: 360px
      height: 30px
      float: left
      margin: 50px 0 50px 115px

  .footer-menu
    height: 123px
    margin-top: 1px
    background-color: #DEE8EA
    nav
      padding-top: 50px
      text-align: center
      li:last-child
        padding-right: 0



  .copyright
    height: 30px
    margin-top: 1px
