
/* ======= footer========= */


footer
  //background-color: $primary-color
  height: 90px
  position: relative
  color: white
  z-index: 1

  .back-foot

    height: 50px
    width: 50%

    position: relative
    top: -90px
    z-index: 0
    background-color: #416A76

  .back-foot-r

    height: 50px
    width: 50%
    position: relative
    right: 0
    top: -50px
    z-index: 0
    background-color: #416A76
