
/* ======= hero ========= */



.hero
  background-color: $lightest
  overflow: hidden
  position: relative

  height: 490px
  margin-top: 20px
  margin-bottom: 20px

  .hero-text
    float: left
    margin: 160px 0 0 50px

    h1
      margin: 0
      padding: 0

    h2
      margin: 0
      padding: 0
      font-family: $menu-text
      font-size: 16px



  img
    float: left
    margin-left: 10%
    margin-top: 35px

  //CTA-button

  .cta-button
    position: absolute
    bottom: 20%
    right: 20%
    margin: 0


.cta-button
  overflow: hidden
  font-family: $menu-text
  div
    border: 3px solid $dark-color
    border-right: 2px
    float: left
    margin: 0
    height: 37px

  .cta-button-img
    background-color: $contrast-color
    border: 3px solid $dark-color
    img
      margin: 10px
      margin-top: 6px


  h3
    margin: 5px
    padding: 0 5px 0 5px



    //CTA- einde
