---

---
<!DOCTYPE html>
<html>

{% include head.html %}

<body>
{% include header.html %}

<div class="container about-container">

<div class="about-text lcol">
  <h1>About us</h1>
  <p>Cuisine cookbooks had modest beginnings when Fred Carlson opened a small local print shop in 1933. His son-in-law, Harold Morris, took over the business in 1956 and the family tradition continued when Harold's son, Scott, became president in 1976. Today, Scott's son, Ryan, works with his father in the family business. 
</p>
</div>


<div class="banner banner-books">
  <div>



  </div>
  <img src="../assets/images/banner-books.png" alt="banner food" width="970">

</div>



<div class="about-text rcol">
  <p>Cuisine cookbooks provides ALL the ingredients you need to make your cookbook beautiful and unique. Your recipes deserve the best – that's why we offer a variety of recipe formats and options from which you can choose. </p>
</div>




</div>


{% include footer.html %}
</body>
</html>
