---
title: test
---

<!DOCTYPE html>
<html>

{% include head.html %}
<body>
{% include header.html %}


<div class="container">

  <!-- start banner-books -->
  <div class="banner banner-books">
    <div>

      <h2>books</MM-4h2>

    </div>
    <img src="../assets/images/banner-books.png" alt="banner food" width="970">

  </div>
  <!-- eind banner-books -->
<div class="content">

  <div class="filter-bar">

<!-- start filter blok -->
    <div class=filter-box>
      <div class="filter-group authors">
        <h3>authors</h3>
        <img src="../assets/icons/plus.png" alt="plus" class="plus">
      </div>
      <div class="filter-list">
        <ul>
          <li>
            <input type="checkbox" name="author1" value="" class="jamie">
            <label for="author1" class="group-filter">Jamie oliver</label>

          </li>
          <li>
            <input type="checkbox" name="author1" value="" class="green" >
            <label for="author1" class="group-filter">green kitchen</label>
          </li>


        </ul>

      </div>

    </div>
<!-- eind filter blok -->
<!-- start filter blok -->
    <div class=filter-box>
      <div class="filter-group catagories">
        <h3>Catagories</h3>
        <img src="../assets/icons/plus.png" alt="plus" class="plus">
      </div>

      <div class="filter-list">
        <ul>
          <li>
            <input type="checkbox" name="author1" value="" class="vegan" >
            <label for="author1" class="group-filter">vegan</label>

          </li>
          <li>
            <input type="checkbox" name="author1" value="" class="vegitarian">
            <label for="author1" class="group-filter">vegitarian</label>
          </li>


        </ul>

      </div>

    </div>
<!-- eind filter blok -->
  </div>


  <div class="books-grid">

<!-- begin book -->
    <div class="book green vegan">
      <a href=""><img src="../assets/images/thumbs/books/green-kitchen-travel.jpg" alt="green kitchen"></a>

      <div class="info">
        <h2><a href="green-kitchen.html">Green kitchen Travels</a></h2>
        <p>A collection of delicious, healthy, vegetarian family recipes from the Green Kitchen Stories blog. David Frenkiel and Luise Vindahl Andersen are the new faces of exciting vegetarian food.</p>

        <ul class="rating">
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
        </ul>

        <h3>€33.65</h3>

        <div class="add-cta">
          <img src="../assets/icons/plus.png" alt="plus" class="plus">
          <h3>Add to shopping chart</h3>
        </div>

        <img src="../assets/icons/hart.png" alt="heart">

      </div>
    </div>
<!-- eind book -->
<!-- begin book -->
    <div class="book green vegitarian">
      <a href=""><img src="../assets/images/thumbs/books/green-kitchen-home.jpg" alt="green kitchen"></a>

      <div class="info">
        <h2><a href="green-kitchen.html">Green kitchen home</a></h2>
        <p>A collection of delicious, healthy, vegetarian family recipes from the Green Kitchen Stories blog. David Frenkiel and Luise Vindahl Andersen are the new faces of exciting vegetarian food.</p>

        <ul class="rating">
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
        </ul>

        <h3>€33.65</h3>

        <div class="add-cta">
          <img src="../assets/icons/plus.png" alt="plus" class="plus">
          <h3>Add to shopping chart</h3>
        </div>

        <img src="../assets/icons/hart.png" alt="heart">

      </div>
    </div>
<!-- eind book -->
<!-- begin book -->
    <div class="book green">
      <a href=""><img src="../assets/images/thumbs/books/green-kitchen-book.jpg" alt="green kitchen"></a>

      <div class="info">
        <h2><a href="green-kitchen.html">the Green kitchen</a></h2>
        <p>A collection of delicious, healthy, vegetarian family recipes from the Green Kitchen Stories blog. David Frenkiel and Luise Vindahl Andersen are the new faces of exciting vegetarian food.</p>

        <ul class="rating">
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
        </ul>

        <h3>€33.65</h3>

        <div class="add-cta">
          <img src="../assets/icons/plus.png" alt="plus" class="plus">
          <h3>Add to shopping chart</h3>
        </div>

        <img src="../assets/icons/hart.png" alt="heart">

      </div>
    </div>
<!-- eind book -->
<!-- begin book -->
    <div class="book green">
      <a href=""><img src="../assets/images/thumbs/books/green-kitchen-smoothie.jpg" alt="green kitchen"></a>

      <div class="info">
        <h2><a href="green-kitchen.html">Green kitchen smoothies</a></h2>
        <p>A collection of delicious, healthy, vegetarian family recipes from the Green Kitchen Stories blog. David Frenkiel and Luise Vindahl Andersen are the new faces of exciting vegetarian food.</p>

        <ul class="rating">
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
        </ul>

        <h3>€33.65</h3>

        <div class="add-cta">
          <img src="../assets/icons/plus.png" alt="plus" class="plus">
          <h3>Add to shopping chart</h3>
        </div>

        <img src="../assets/icons/hart.png" alt="heart">

      </div>
    </div>
<!-- eind book -->
<!-- begin book -->
    <div class="book jamie">
      <a href=""><img src="../assets/images/thumbs/books/jamie-food.jpg" alt="green kitchen"></a>

      <div class="info">
        <h2><a href="green-kitchen.html">Jamie oliver ministiry</a></h2>
        <p>A collection of delicious, healthy, vegetarian family recipes from the Green Kitchen Stories blog. David Frenkiel and Luise Vindahl Andersen are the new faces of exciting vegetarian food.</p>

        <ul class="rating">
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
        </ul>

        <h3>€33.65</h3>

        <div class="add-cta">
          <img src="../assets/icons/plus.png" alt="plus" class="plus">
          <h3>Add to shopping chart</h3>
        </div>

        <img src="../assets/icons/hart.png" alt="heart">

      </div>
    </div>
<!-- eind book -->
<!-- begin book -->
    <div class="book jamie">
      <a href=""><img src="../assets/images/thumbs/books/jamie-comfort.jpg" alt="green kitchen"></a>

      <div class="info">
        <h2><a href="green-kitchen.html">Jamie Oliver comfort food</a></h2>
        <p>A collection of delicious, healthy, vegetarian family recipes from the Green Kitchen Stories blog. David Frenkiel and Luise Vindahl Andersen are the new faces of exciting vegetarian food.</p>

        <ul class="rating">
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
        </ul>

        <h3>€33.65</h3>

        <div class="add-cta">
          <img src="../assets/icons/plus.png" alt="plus" class="plus">
          <h3>Add to shopping chart</h3>
        </div>

        <img src="../assets/icons/hart.png" alt="heart">

      </div>
    </div>
<!-- eind book -->
<!-- begin book -->
    <div class="book jamie">
      <a href=""><img src="../assets/images/thumbs/books/jamie-everyday.jpg" alt="green kitchen"></a>

      <div class="info">
        <h2><a href="green-kitchen.html">Jamie Oliver every day superfood</a></h2>
        <p>A collection of delicious, healthy, vegetarian family recipes from the Green Kitchen Stories blog. David Frenkiel and Luise Vindahl Andersen are the new faces of exciting vegetarian food.</p>

        <ul class="rating">
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
          <li><img src="../assets/icons/star.png" alt="star"></li>
        </ul>

        <h3>€33.65</h3>

        <div class="add-cta">
          <img src="../assets/icons/plus.png" alt="plus" class="plus">
          <h3>Add to shopping chart</h3>
        </div>

        <img src="../assets/icons/hart.png" alt="heart">

      </div>
    </div>
<!-- eind book -->







</div>
</div>
</div>





{% include footer.html %}
</body>
</html>
