---

---
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum- scale=1.0, user-scalable=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css"/>
	<link rel="stylesheet" href="../css/main.css"/>
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display:400i,700i|Raleway:400,700" rel="stylesheet">

	<title>Cuisine recipes</title>
	<meta name="description" content="Gibson CEO unveils digital guitar">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="../js/main.js"></script>
</head>

<body>
{% include header.html %}






<div class="weekmenu container">
  <div class="banner banner-books">
    <div>

      <h2>recipies</h2>

    </div>
    <img src="../assets/images/banner-books.png" alt="banner food" width="970">

  </div>


  <div class="flex-container container">

		<div class="filter-bar filter-recipies">

	<!-- start filter blok -->
	    <div class=filter-box>
	      <div class="filter-group recipie">
	        <h3>Dieet</h3>
	        <img src="../assets/icons/plus.png" alt="plus" class="plus">
	      </div>
	      <div class="filter-list">
	        <ul>
	          <li>
	            <input type="checkbox" name="author1" value="" class="vegitarian">
	            <label for="author1" class="group-filter">vegitarian</label>

	          </li>
	          <li>
	            <input type="checkbox" name="author1" value="" class="vegan" >
	            <label for="author1" class="group-filter">vegan</label>
	          </li>


	        </ul>

	      </div>

	    </div>

	<!-- start filter blok -->
	    <div class=filter-box>
	      <div class="filter-group recipie">
	        <h3>type of meal</h3>
	        <img src="../assets/icons/plus.png" alt="plus" class="plus">
	      </div>

	      <div class="filter-list">
	        <ul>
	          <li>
	            <input type="checkbox" name="author1" value="" class="main-meal" >
	            <label for="author1" class="group-filter">mail meal</label>

	          </li>
	          <li>
	            <input type="checkbox" name="author1" value="lunch">
	            <label for="author1" class="group-filter">lunch</label>
	          </li>
						<li>
	            <input type="checkbox" name="author1" value="breakfast">
	            <label for="author1" class="group-filter">breakfast</label>
	          </li>
						<li>
	            <input type="checkbox" name="author1" value="starters">
	            <label for="author1" class="group-filter">starter</label>
	          </li>
						<li>
	            <input type="checkbox" name="author1" value="snacks">
	            <label for="author1" class="group-filter">snack</label>
	          </li>
						<li>
	            <input type="checkbox" name="author1" value="drinks">
	            <label for="author1" class="group-filter">drinks</label>
	          </li>


	        </ul>

	      </div>

	    </div>
	<!-- eind filter blok -->

	<!-- start filter blok -->
	    <div class=filter-box>
	      <div class="filter-group recipie">
	        <h3>region</h3>
	        <img src="../assets/icons/plus.png" alt="plus" class="plus">
	      </div>

	      <div class="filter-list">

	        <ul>
	          <li>
	            <input type="checkbox" name="author1" value="" class="mexican" >
	            <label for="author1" class="group-filter">Mexican</label>

	          </li>
	          <li>
	            <input type="checkbox" name="author1" value="asian">
	            <label for="author1" class="group-filter">Asian</label>
	          </li>


	        </ul>
					<div class="map">
						<a href="#">View map</a>
					</div>
	      </div>

	    </div>
	<!-- eind filter blok -->



		</div>

<!-- first row-->
    <div class="flextest">
			<div class="flex vegan main-meal">
        <img src="../assets/images/thumbs/recipies/banana-blossom-salad.png" alt="">
        <h2><a href="../pages/single-recipe.html"> Cahsuw yogurt</a></h2>
      </div>
      <div class="flex">
        <img src="../assets/images/thumbs/recipies/tom-kah.png" alt="">
        <h2><a href="../pages/single-recipe.html"> Cahsuw yogurt</a></h2>
      </div>
      <div class="flex">
        <img src="../assets/images/thumbs/recipies/curry.png" alt="">
        <h2><a href="../pages/single-recipe.html"> Cahsuw yogurt</a></h2>
      </div>
      <div class="flex vegan">
        <img src="../assets/images/thumbs/recipies/chia-berry-porridge.png" alt="">
        <h2><a href="../pages/single-recipe.html"> Cahsuw yogurt</a></h2>
      </div>
    </div>
<!-- first row end-->

<!-- second row-->
    <div class="flextest">

      <div class="flex">
        <img src="../assets/images/thumbs/recipies/fish1.png" alt="">
        <h2><a href="#"> Cahsuw yogurt</a></h2>
      </div>

      <div class="flex">
        <img src="../assets/images/thumbs/recipies/fish2.png" alt="">
        <h2><a href="../pages/single-recipe.html"> Cahsuw yogurt</a></h2>
      </div>

      <div class="flex">
        <img src="../assets/images/thumbs/recipies/lemongrass-curry.png" alt="">
        <h2><a href="../pages/single-recipe.html"> Cahsuw yogurt</a></h2>
      </div>

      <div class="flex">
        <img src="../assets/images/thumbs/recipies/pork.png" alt="">
        <h2><a href="../pages/single-recipe.html"> Cahsuw yogurt</a></h2>
      </div>

    </div>
<!-- second row end-->

  </div><!-- end thumbs -->



<!-- banner middle -->
  <div class="banner banner-recipies">
    <div>

      <h2>recipies</h2>
      <p>De lekkerste bbq salades en nog meer lekkers</p>
      <div class="cta-menu">

				<a href=""><h3>All bbq recipies</h3></a>
      </div>

    </div>
    <img src="../assets/images/bbq.jpg" alt="banner food" width="970">

  </div>






  <div class="flex-container container">


<!-- first row-->
    <div class="flextest">
      <div class="flex">
        <img src="../assets/images/thumbs/recipies/protein-boosted-oatmeal.png" alt="">
        <h2><a href="../pages/single-recipe.html"> Cahsuw yogurt</a></h2>
      </div>
      <div class="flex">
        <img src="../assets/images/thumbs/recipies/smashed-tomato-pasta.png" alt="">
        <h2><a href="../pages/single-recipe.html"> Cahsuw yogurt</a></h2>
      </div>
      <div class="flex">
        <img src="../assets/images/thumbs/recipies/spaghetti-squash.png" alt="">
        <h2><a href="../pages/single-recipe.html"> Cahsuw yogurt</a></h2>
      </div>
      <div class="flex">
        <img src="../assets/images/thumbs/recipies/turmeric-breakfast-muffins.png" alt="">
        <h2><a href="../pages/single-recipe.html"> Cahsuw yogurt</a></h2>
      </div>
    </div>
<!-- first row end-->

<!-- second row-->
    <div class="flextest">

      <div class="flex">
        <img src="../assets/images/thumbs/recipies/vegan-apple-tartlets.png" alt="">
        <h2><a href="../pages/single-recipe.html"> Cahsuw yogurt</a></h2>
      </div>

      <div class="flex">
        <img src="../assets/images/thumbs/recipies/gingerbread-smoothie.png" alt="">
        <h2><a href="../pages/single-recipe.html"> Cahsuw yogurt</a></h2>
      </div>

      <div class="flex">
        <img src="../assets/images/thumbs/recipies/buckwheatporridge.png" alt="">
        <h2><a href="../pages/single-recipe.html"> Cahsuw yogurt</a></h2>
      </div>

      <div class="flex">
        <img src="../assets/images/thumbs/recipies/raw-brownies.png" alt="">
        <h2><a href="../pages/single-recipe.html"> Cahsuw yogurt</a></h2>
      </div>

    </div>
<!-- second row end-->

  </div><!-- end thumbs -->
  <div class="cta-button-big books-overview">
    <div class="para"></div>

    <div class="cta-button">

      <div><h3>more recipies</h3></div>


    </div>
  </div>

</div>






{% include footer.html %}
</body>
</html>
