---

---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
{% include header.html %}






<div class="weekmenu container">
  <div class="banner banner-books">
    <div>

      <h2>recipies</h2>

    </div>
    <img src="../assets/images/banner-books.png" alt="banner food" width="970">

  </div>


  <div class="flex-container container">

		<div class="filter-bar filter-recipies">

	<!-- start filter blok -->
	    <div class=filter-box>
	      <div class="filter-group recipie">
	        <h3>Dieet</h3>
	        <img src="../assets/icons/plus.png" alt="plus" class="plus">
	      </div>
	      <div class="filter-list">
	        <ul>
	          <li>
	            <input type="checkbox" name="author1" value="" class="vegitarian">
	            <label for="author1" class="group-filter">vegitarian</label>

	          </li>
	          <li>
	            <input type="checkbox" name="author1" value="" class="vegan" >
	            <label for="author1" class="group-filter">vegan</label>
	          </li>


	        </ul>

	      </div>

	    </div>

	<!-- start filter blok -->
	    <div class=filter-box>
	      <div class="filter-group recipie">
	        <h3>type of meal</h3>
	        <img src="../assets/icons/plus.png" alt="plus" class="plus">
	      </div>

	      <div class="filter-list">
	        <ul>
	          <li>
	            <input type="checkbox" name="author1" value="" class="main-meal" >
	            <label for="author1" class="group-filter">mail meal</label>

	          </li>
	          <li>
	            <input type="checkbox" name="author1" value="lunch">
	            <label for="author1" class="group-filter">lunch</label>
	          </li>
						<li>
	            <input type="checkbox" name="author1" value="breakfast">
	            <label for="author1" class="group-filter">breakfast</label>
	          </li>
						<li>
	            <input type="checkbox" name="author1" value="starters">
	            <label for="author1" class="group-filter">starter</label>
	          </li>
						<li>
	            <input type="checkbox" name="author1" value="snacks">
	            <label for="author1" class="group-filter">snack</label>
	          </li>
						<li>
	            <input type="checkbox" name="author1" value="drinks">
	            <label for="author1" class="group-filter">drinks</label>
	          </li>


	        </ul>

	      </div>

	    </div>
	<!-- eind filter blok -->

	<!-- start filter blok -->
	    <div class=filter-box>
	      <div class="filter-group recipie">
	        <h3>region</h3>
	        <img src="../assets/icons/plus.png" alt="plus" class="plus">
	      </div>

	      <div class="filter-list">

	        <ul>
	          <li>
	            <input type="checkbox" name="author1" value="" class="mexican" >
	            <label for="author1" class="group-filter">Mexican</label>

	          </li>
	          <li>
	            <input type="checkbox" name="author1" value="asian">
	            <label for="author1" class="group-filter">Asian</label>
	          </li>


	        </ul>
					<div class="map">
						<a href="#">View map</a>
					</div>
	      </div>

	    </div>
	<!-- eind filter blok -->



		</div>

<!-- first row-->
    <div class="flextest">
			<div class="flex vegan main-meal">
        <img src="../assets/images/thumbs/recipies/banana-blossom-salad.png" alt="">
        <h2><a href="../pages/recipies/vietnamese-salad.html"> Vietnamese Banana Blossom Salad</a></h2>
      </div>
      <div class="flex ">
        <img src="../assets/images/thumbs/recipies/tom-kah.png" alt="">
        <h2><a href="../pages/recipies/tom-kah.html"> Tom Kha Tofu</a></h2>
      </div>
      <div class="flex">
        <img src="../assets/images/thumbs/recipies/curry.png" alt="">
        <h2><a href="../pages/recipies/monk-curry.html"> Sri Lankan-style monkfish curry</a></h2>
      </div>
      <div class="flex vegan">
        <img src="../assets/images/thumbs/recipies/chia-berry-porridge.png" alt="">
        <h2><a href="../pages/recipies/chia-raspberry-breakfast.html"> Chia &amp; Raspberry Breakfast</a></h2>
      </div>
			<div class="flex vegan">
        <img src="../assets/images/thumbs/recipies/fish1.png" alt="">
        <h2><a href="../pages/recipies/lemon-chipotle.html"> Lemon sole with chipotle</a></h2>
      </div>
			<div class="flex">
        <img src="../assets/images/thumbs/recipies/fish2.png" alt="">
        <h2><a href="../pages/recipies/salmon-sweet.html"> Asian salmon &amp; sweet potato</a></h2>
      </div>

			<div class="flex">
        <img src="../assets/images/thumbs/recipies/lemongrass-curry.png" alt="">
        <h2><a href="../pages/recipies/lemongrass-aubergine-curry.html"> Aubergine &amp; Lemongrass Curry</a></h2>
      </div>
			<div class="flex">
        <img src="../assets/images/thumbs/recipies/pork.png" alt="">
        <h2><a href="../pages/recipies/pork-noodle.html"> Pork tonkatsu &amp; noodles</a></h2>
      </div>

			<div class="banner-recipies">
				<div class="banner-content">

					<h2>recipies</h2>
					<p>De lekkerste bbq salades en nog meer lekkers</p>
					<div class="cta-menu">

						<a href=""><h3>All bbq recipies</h3></a>
					</div>

				</div>
				<img src="../assets/images/bbq.jpg" alt="banner food" width="970">

			</div>

			<div class="flex">
        <img src="../assets/images/thumbs/recipies/protein-boosted-oatmeal.png" alt="">
        <h2><a href="../pages/recipies/oatmeal.html"> Protein Boosted Oatmeal</a></h2>
      </div>
      <div class="flex">
        <img src="../assets/images/thumbs/recipies/smashed-tomato-pasta.png" alt="">
        <h2><a href="../pages/recipies/summer-tomato.html"> Summer Pasta with Smashed Tomatoes</a></h2>
      </div>
      <div class="flex">
        <img src="../assets/images/thumbs/recipies/spaghetti-squash.png" alt="">
        <h2><a href="../pages/recipies/spaghetti-squash.html"> Spaghetti with Beluga Lentils, Pesto </a></h2>
      </div>
      <div class="flex">
        <img src="../assets/images/thumbs/recipies/turmeric-breakfast-muffins.png" alt="">
        <h2><a href="../pages/single-recipe.html"> Turmeric Breakfast Muffins</a></h2>
      </div>
			<div class="flex vegan snack ">
        <img src="../assets/images/thumbs/recipies/vegan-apple-tartlets.png" alt="">
        <h2><a href="../pages/recipies/vegan-tart.html"> Vegan Apple &amp; Oat Tartlets</a></h2>
      </div>

      <div class="flex">
        <img src="../assets/images/thumbs/recipies/gingerbread-smoothie.png" alt="">
        <h2><a href="../pages/single-recipe.html"> Gingerbread Shake</a></h2>
      </div>

      <div class="flex">
        <img src="../assets/images/thumbs/recipies/buckwheatporridge.png" alt="">
        <h2><a href="../pages/single-recipe.html"> Winter Buckwheat Porridge</a></h2>
      </div>

      <div class="flex">
        <img src="../assets/images/thumbs/recipies/raw-brownies.png" alt="">
        <h2><a href="../pages/single-recipe.html"> Raw Hazelnut &amp; Chai Brownies</a></h2>
      </div>

    </div>


  </div><!-- end thumbs -->











  </div><!-- end thumbs -->
  <div class="cta-button-big books-overview">
    <div class="para"></div>

    <div class="cta-button">

      <div><h3>more recipies</h3></div>


    </div>
  </div>

</div>






{% include footer.html %}
</body>
</html>
