---

---
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum- scale=1.0, user-scalable=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css"/>
	<link rel="stylesheet" href="../css/main.css"/>
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display:400i,700i|Raleway:400,700" rel="stylesheet">

	<title>Cuisine recipes</title>
	<meta name="description" content="Gibson CEO unveils digital guitar">

</head>

<body>
{% include header.html %}





<!-- week menu section -->
<div class="weekmenu container">
  <div class="banner banner-books">
    <div>

      <h2>recipies</h2>

    </div>
    <img src="../assets/images/banner-books.png" alt="banner food" width="970">

  </div>


  <div class="flex-container container">


<!-- first row-->
    <div class="flextest">
      <div class="flex">
        <img src="../assets/images/cahywyogurt.png" alt="">
        <h2>Cashu Yogurt</h2>
      </div>
      <div class="flex">
        <img src="../assets/images/Tom_Kah.png" alt="">
        <h2>tohm ka salade</h2>
      </div>
      <div class="flex">
        <img src="../assets/images/Tom_Kah.png" alt="">
        <h2>tohm ka salade</h2>
      </div>
      <div class="flex">
        <img src="../assets/images/Tom_Kah.png" alt="">
        <h2>tohm ka salade</h2>
      </div>
    </div>
<!-- first row end-->

<!-- second row-->
    <div class="flextest">

      <div class="flex">
        <img src="../assets/images/cahywyogurt.png" alt="">
        <h2><a href="#"> Cahsuw yogurt</a></h2>
      </div>

      <div class="flex">
        <img src="../assets/images/Tom_Kah.png" alt="">
        <h2>tohm ka salade</h2>
      </div>

      <div class="flex">
        <img src="../assets/images/Tom_Kah.png" alt="">
        <h2>tohm ka salade</h2>
      </div>

      <div class="flex">
        <img src="../assets/images/Tom_Kah.png" alt="">
        <h2>tohm ka salade</h2>
      </div>

    </div>
<!-- second row end-->

  </div><!-- end thumbs -->



<!-- banner middle -->
  <div class="banner banner-recipies">
    <div>

      <h2>recipies</h2>
      <p>De lekkerste bbq salades en nog meer lekkers</p>
      <div class="cta-menu">

				<a href=""><h3>All bbq recipies</h3></a>
      </div>

    </div>
    <img src="../assets/images/bbq.jpg" alt="banner food" width="970">

  </div>






  <div class="flex-container container">


<!-- first row-->
    <div class="flextest">
      <div class="flex">
        <img src="../assets/images/cahywyogurt.png" alt="">
        <h2>Cashu Yogurt</h2>
      </div>
      <div class="flex">
        <img src="../assets/images/Tom_Kah.png" alt="">
        <h2>tohm ka salade</h2>
      </div>
      <div class="flex">
        <img src="../assets/images/Tom_Kah.png" alt="">
        <h2>tohm ka salade</h2>
      </div>
      <div class="flex">
        <img src="../assets/images/Tom_Kah.png" alt="">
        <h2>tohm ka salade</h2>
      </div>
    </div>
<!-- first row end-->

<!-- second row-->
    <div class="flextest">

      <div class="flex">
        <img src="../assets/images/cahywyogurt.png" alt="">
        <h2><a href="#"> Cahsuw yogurt</a></h2>
      </div>

      <div class="flex">
        <img src="../assets/images/Tom_Kah.png" alt="">
        <h2>tohm ka salade</h2>
      </div>

      <div class="flex">
        <img src="../assets/images/Tom_Kah.png" alt="">
        <h2>tohm ka salade</h2>
      </div>

      <div class="flex">
        <img src="../assets/images/Tom_Kah.png" alt="">
        <h2>tohm ka salade</h2>
      </div>

    </div>
<!-- second row end-->

  </div><!-- end thumbs -->
  <div class="cta-button-big books-overview">
    <div class="para"></div>

    <div class="cta-button">

      <div><h3>more recipies</h3></div>


    </div>
  </div>

</div>






{% include footer.html %}
</body>
</html>
