---

---
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum- scale=1.0, user-scalable=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css"/>
	<link rel="stylesheet" href="../css/main.css"/>
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display:400i,700i|Raleway:400,700" rel="stylesheet">

	<title>Cuisine recipes</title>
	<meta name="description" content="Gibson CEO unveils digital guitar">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="../js/main.js"></script>

</head>

<body>
{% include header.html %}


<div class="container">

<!-- start top section -->
  <div class="top-section recipe-single">
    <img src="../assets/images/recipe-single.png" alt="foto">

    <div class="content-recipe">
      <div>
        <h1>Roasted radish runner bean traybake</h1>
        <p>This is a great one-pan wonder – roast veg, cheesy croutons and a punchy herby dressing. It's just perfect for summer.</p>
      </div>
      <ul>
        <li><span>Serves:</span> 2</li>
        <li><span>Time:</span> 30min</li>
        <li><span>Dificulty</span> Super hard</li>
      </ul>

      <div class="tags">
        <ul>
          <li>vegitarian</li>
          <li>Summer</li>
        </ul>
      </div>

      <div class="share">
        <h3>Share this recipe</h3>
        <div>
          <a href=""><img src="../assets/images/share-facebook.png" alt="Facebook"></a>
          <a href=""><img src="../assets/images/share-pintrest.png" alt="Facebook"></a>
          <a href=""><img src="../assets/images/share-twitter.png" alt="Facebook"></a>
        </div>

      </div>

      <div class="found-in">
        <img src="../assets/images/foundin.png" alt="book">
        <div>
          <h3>Found in</h3>
          <h2>The green kitchen Travels</h2>
          <p>By: Jamie Oliver</p>
        </div>
      </div>
  </div>
</div>
<!-- eind top sectie -->


<div class="recipe-section">
  <div class="ingredients">
    <ul>
      <li>2 courgettes</li>
      <li>150 g runner beans</li>
      <li>70 g ciabatta</li>
      <li>6 radishes , with tops</li>
      <li>3 cloves of garlic</li>
      <li>100 ml white wine , or organic vegetable stock</li>
      <li>olive oil</li>
      <li>25 g Cheddar cheese</li>
      <li>extra virgin olive oi</li>
      <li>1 teaspoon runny honey</li>
      <li>1 tablespoon red wine vinegar</li>
      <li>a few sprigs of fresh dill, flat-leaf parsley, chives</li>
    </ul>
  </div>

  <div class="instructions">
    <h2>Instuctions</h2>
    <ol>
      <li>Preheat the oven to 190ºC/375ºF/gas 5.</li>
      <li>Trim the courgettes, halve lengthways, then slice, along with the runner beans, into 2cm pieces. Tear the ciabatta into 2cm chunks and add all this to a roasting tray, along with the radishes and unpeeled garlic.</li>
      <li>Pour in the wine or stock, season with sea salt and pepper and drizzle over 2 tablespoons of olive oil.</li>
      <li>Grate the Cheddar and sprinkle over the bread pieces. Roast in the oven for 35 to 40 minutes, until the courgettes are cooked through.</li>
      <li>Combine 2 tablespoons of extra virgin olive oil with the honey and vinegar. Pick and finely chop the herbs and stir through; season and set aside.</li>
      <li>Remove the tray from the oven and drizzle with the dressing. This is lovely served on a bed of spinach.</li>

    </ol>
  </div>

</div>



</div>


{% include footer.html %}
</body>
</html>
