  <!-- Header start -->


  <header>
    <div class="container">
      <a href="{{base}}/index.html"><img src="{{base}}/assets/images/Logo.png" alt="Cuisine logo" class="logo" ></a>

        <!-- Main menu start -->
      <nav class="main-menu">
        <ul>
          <li><a href="{{base}}/pages/about.html">About </a></li>
          <li><a href="{{base}}/pages/books-overview.html">Books </a></li>
          <li><a href="{{base}}/pages/recipe-overview.html">Recipies</a></li>
          <li><a href="{{base}}/pages/contact.html">Contact</a></li>
        </ul>
      </nav>
      <!-- Main menu End -->

      <!-- Util menu start -->
      <nav class="util-menu">
        <ul>
          <li class="search">
            <img src="{{base}}/assets/icons/search.png" alt="Search">
  				  <input class="search-input"type="text" name="last-name" title="Enter your last name" required>
          </li>
          <li><a href=""><img src="{{base}}/assets/icons/shopping.png" alt="Shopping chart"></a></li>
        </ul>
      </nav>
      <!-- Util menu end -->
</div>
  </header>
