  <!-- Header start -->


  <header>
    <div class="container">
      <a href="../index.html"><img src="../assets/images/Logo.png" alt="Cuisine logo" class="logo" ></a>

        <!-- Main menu start -->
      <nav class="main-menu">
        <ul>
          <li><a href="../pages/about.html">About </a></li>
          <li><a href="../pages/books-overview.html">Books </a></li>
          <li><a href="../pages/recipies.html">Recipies</a></li>
          <li><a href="../pages/contact.html">Contact</a></li>
        </ul>
      </nav>
      <!-- Main menu End -->

      <!-- Util menu start -->
      <nav class="util-menu">
        <ul>
          <li><a href=""><img src="../assets/icons/search.png" alt="Search"></a></li>
          <li><a href=""><img src="../assets/icons/shopping.png" alt="Shopping chart"></a></li>
        </ul>
      </nav>
      <!-- Util menu end -->
</div>
  </header>
