<!-- hero-banner -->



<div id="container" >
    <div id="theTarget" class="hero container">
<!-- slide 1 -->
        <div id="one">
          <img src="assets/images/kitchen-book.jpg" alt="Green kitchen book">
          <div class="hero-text">
            <h1>Green Kitchen at home</h1>
            <h2>New in stock</h2>
          </div>

<!-- cta -->
          <a href="../pages/green-kitchen.html"><div class="cta-button">

            <div><h3>Pre-order Now!</h3></div>
            <div class="cta-button-img">
              <img src="assets/icons/cta-arrow.png" alt="arrow" >
            </div>

          </div></a>
  <!-- cta end -->

        </div>
<!-- end slide 1 -->

<!-- slide 2 -->
        <div>
          <img src="assets/images/books/jamie-comfort-home.jpg" alt="Green kitchen book">
          <div class="hero-text">
            <h1>Comfort foods</h1>
            <h2>New in stock</h2>
          </div>
<!-- cta -->
          <a href="../pages/green-kitchen.html"><div class="cta-button">

            <div><h3>Pre-order Now!</h3></div>
            <div class="cta-button-img">
              <img src="assets/icons/cta-arrow.png" alt="arrow" >
            </div>

          </div></a>
<!-- cta end -->
        </div>
<!-- end slide 1 -->

    </div>
</div>



<!-- end hero section -->
