<!-- week menu section -->
<div class="weekmenu container">
  <div class="banner ">
    <div>
      <h2>week menu</h2>
    </div>
    <img src="assets/images/banner.png" alt="banner food" width="970">

  </div>

  <div class="flex-container container">

<!-- first row-->
    <div class="flextest">
      <div class="flex">
        <img src="assets/images/cahywyogurt.png" alt="cashuw yogurt">
        <h2>Cashu Yogurt</h2>
      </div>
      <div class="flex">
        <img src="assets/images/Tom_Kah.png" alt="thom kah salad">
        <h2>tohm ka salade</h2>
      </div>
      <div class="flex">
        <img src="assets/images/Tom_Kah.png" alt="thom kah salad">
        <h2>tohm ka salade</h2>
      </div>
      <div class="flex">
        <img src="assets/images/Tom_Kah.png" alt="thom kah salad">
        <h2>tohm ka salade</h2>
      </div>
    </div>
<!-- first row end-->

<!-- second row-->
    <div class="flextest">

      <div class="flex">
        <img src="assets/images/cahywyogurt.png" alt="cashuw yogurt">
        <h2><a href="#"> Cahsuw yogurt</a></h2>
      </div>

      <div class="flex">
        <img src="assets/images/Tom_Kah.png" alt="thom kah salad">
        <h2>tohm ka salade</h2>
      </div>

      <div class="flex">
        <img src="assets/images/Tom_Kah.png" alt="thom kah salad">
        <h2>tohm ka salade</h2>
      </div>

      <div class="flex">
        <img src="assets/images/Tom_Kah.png" alt="thom kah salad">
        <h2>tohm ka salade</h2>
      </div>

    </div>
<!-- second row end-->

  </div><!-- end thumbs -->
  <div class="cta-button-big">
    <div class="para"></div>

    <div class="cta-button">

      <div><h3>Pre-order Now!</h3></div>
      <div class="cta-button-img">
        <img src="assets/icons/cta-arrow.png" alt="arrow" >
      </div>

    </div>
  </div>

</div>
