---
---
//vars
//*
  background-color : rgba(0,0,0,0.3)

//Kleuren
$contrast-color: #fed400
$dark-color: #0f323a
$primary-color: #406b76
$light: #d1dee1
$lighter: #dee8ea
$lightest: rgba(105,138,148,0.1)

//Fonts
$menu-text: 'Montserrat', sans-serif
$body-text: 'Raleway', sans-serif
$menu-text-dec: 'Playfair Display', serif

*
  box-sizing: border-box

img
  max-width: 100%

h1
  color: $primary-color

h2
  font-family: $menu-text-dec
  font-style: italic

p
  font-family: $body-text
  color: $dark-color

small
  font-family: $body-text
  font-size: 12px


.container
  max-width: 970px
  margin: 0 auto
  //padding: 0 10px

.container-menu
  width: 970px
  margin: 0 auto

a
  color: $dark-color
  text-decoration: none
  font-size: 18px

a:hover
  font-weight: 700
  text-decoration: underline
  text-decoration-color: $contrast-color


// imports
@import header
@import weekmenu
@import footer
@import hero
@import books-overview
@import recipe-overview


// new arrivals
.new-arrivals
  width: 100%
  background-color: $lighter
  h1
    background-color: $light
    padding: 5px 0 5px 60px
    text-decoration: underline
    text-decoration-color: $contrast-color



.carousel
  overflow: hidden
  width: 700px
  margin: 0 auto


.books
  margin: 0 auto
  float: left
  margin: 40px 0 55px 0
  h2
    padding-left: 0

.books:last-child
  float: right


// recipe single

.top-section.recipe-single
  overflow: hidden
  border-bottom: 3px solid $contrast-color
  color: $primary-color
  padding: 20px 0
  ul
    font-family: $body-text
    list-style-type: none
    padding: 0
    li
      margin: 20px 0
      span
        font-weight: 700
        color: $dark-color
  img
    float: left
.content-recipe
  width: 60%
  float: right

  div:first-child
    border-bottom: 3px solid $contrast-color
    >h1
      width: 80%
      color: $dark-color
      margin: 0
    >p
      margin-bottom: 10px
      padding-bottom: 10px
      color: $primary-color


.tags
  background-color: $lightest
  margin-bottom: 30px
  ul

    padding: 10px 0

    li
      display: inline-block
      padding-left: 10px
      color: $dark-color



.share
  float: left
  h3
    margin: 0 0 10px 0
  img
    display: inline-block
    padding: 3px

.found-in
  float: right
  width: 50%
  img
    margin-right: 15px
  h3
    margin: 0
    font-size: 15px
    border: 1px solid $contrast-color
    padding: 2px
    display: inline-block
  h2
    font-size: 15px
    margin-bottom: 5px
  p
    font-size: 14px
    margin: 0

.recipe-section
  overflow: hidden
  //ul
  //list-style-type: none
    padding: 0
  ul, ol
    font-family: $body-text
    font-size: 17px
    li:empty
      list-style: none
    li
      margin: 20px 0
      span
        font-weight: 700
        color: $dark-color
  ol
    margin-right: 30px


  .ingredients
    float: left
    width: 30%
  .instructions
    float: right
    width: 50%

//contact page


.contact-container
  max-width: 580px
  margin-top: 50px

  >div
    text-align: center
  form
    margin-bottom: 100px
    fieldset
      border: none
      margin: 0
      padding: 0
    div
      display: inline-block
    .names
      input
        width: 250px
        margin-right: 0
      div:first-child
        input
          margin-right: 76px


    label
      display: block
      font-family: $body-text
      margin: 10px 0 2px 0

    input, textarea, select
      border: none
      border: 1px solid $primary-color
      margin: 0 10px 10px 0
      border-radius: 8px
      display: inline-block
      padding: 5px

    .mail, .subject
      width: 100%
      input
        width: 100%

    .message
      width: 100%
      textarea
        width: 100%

    .phone
      input
        width: 150px
        margin-right: 60px

    select
      margin-right: 0
      height: 31px
      background-color: white

      option
        margin: 10px




// about page

.about-text
  width: 400px
  font-size: 18px
  margin-bottom: 100px
  margin-top: 50px

.about-container
  overflow: hidden


  .lcol
    margin-left: 200px
  .rcol
    float: right
    margin-right: 200px
    margin-top: 50px





//single book

.btn-fav
  width: 25%
  background-color: white
  border: 1px solid $light
  box-sizing: inherit
  cursor: pointer


  img
    height: 20px
    margin: 1px 0 0 5px

.small-spec-list
  li
    display: inline-block
  li::before
    content: " | "

.content-bar
  background-color: $lightest

  margin: 10px 0
  ul
    list-style: none
    padding: 0

    li

      display: inline-block
      font-family: $menu-text
      font-style: normal
      font-weight: 400
      font-size: 18px
      background-color: $lighter
      border-right: 3px solid white
      padding: 10px
      cursor: pointer


  .summary
    background-color: $primary-color
    color: white

.content-area-summary
  margin: 0 5px

.content-area
  display: none
  margin-bottom: 100px

.content-area-active
  display: block



.price-block
  font-size: 30px
  font-weight: 700
  font-family: $menu-text
  p
    color: #D0021B
    margin: 0






// filter recipies
.filter-recipies
  float: none
  width: 100%
  overflow: hidden
  font-family: $menu-text
  .map
    text-align: center
    margin-bottom: 5px
  .filter-box
    width: 30%
    display: inline-block
    vertical-align: top
    cursor: pointer

.filter-list
  display: none
